@tailwind base;
@tailwind components;
@tailwind utilities;



    @keyframes glow {
    0%, 100% {
        filter: drop-shadow(0 0 8px rgba(168, 85, 247, 0.3));
    }
    50% {
        filter: drop-shadow(0 0 18px rgba(168, 85, 247, 0.9));
    }
    }

    .animate-glow {
    animation: glow 2s ease-in-out infinite;
    }

    @keyframes flare {
        0%, 100% { transform: translate(0,0) scale(1); opacity: 0.4; }
        50% { transform: translate(50px, 50px) scale(1.2); opacity: 0.6; }
    }

    @keyframes flare-slow {
        0%, 100% { transform: translate(0,0) scale(1); opacity: 0.3; }
        50% { transform: translate(-80px, -50px) scale(1.3); opacity: 0.5; }
    }

    .animate-flare {
        animation: flare 6s ease-in-out infinite;
    }

    .animate-flare-slow {
        animation: flare-slow 10s ease-in-out infinite;
    }
 
    
    @keyframes icon-animate {
        0%, 100% { transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) scale(0.5); opacity: 0.3; }
        50% { transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) scale(1.3); opacity: 0.5; }
    }


    
    .animate-icon-1{
        animation: icon-animate 5s ease-in-out infinite;
        animation-delay: 0s;
    }

    .animate-icon-2{
        animation: icon-animate 5s ease-in-out infinite;
        animation-delay: 2s;
    }

    .animate-icon-3{
        animation: icon-animate 5s ease-in-out infinite;
        animation-delay: 4s;
    }
